[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shrinkTVP"]
	path = shrinkTVP
	url = https://github.com/cran/shrinkTVP
[submodule "shrinkTVPVAR"]
	path = shrinkTVPVAR
	url = https://github.com/cran/shrinkTVPVAR
